#category{width: 100%;height: 100%;}
/*头部*/
.home-topbar{width: 100%;height:.83rem;background:#fff;position: fixed;top: 0;z-index: 11;overflow: hidden;}
.home-topbar>input{width:70%;height: .5rem;padding-left:0.7rem;border:none;border-radius: 0.03rem;margin-top:0.15rem;margin-left:1.2rem;background: #eeeeee;}
.home-topbar>a{position:absolute;font-size: 0.5rem;color: #a3a3a3;}


.category_main{width: 100%;height: 86%;overflow: hidden;}

/*左侧导航栏*/
.category_main>.category_asd{width: 1.8rem;height: 86%;position: fixed;left: 0;top: 0.8rem;background-color: #F6F6F6;overflow: hidden;}
.category_nav{width: 2rem;height: 100%;overflow: auto;}
.category_nav>li{width: 100%;height: 0.9rem;line-height: 0.9rem;text-align: center;font-size: 0.28rem;border-bottom: 1px solid #E9E9E9;padding-right: 0.15rem;}
.category_nav>.active{color: #FF5777;background-color: #fff;}
/*右侧商品导航*/
.category_main>.category_sec{height: 100%;width:5.8rem;overflow-y: auto;display: flex;justify-content: space-between;flex-wrap: wrap;position: fixed;right: 0;top: 0.8rem;padding-bottom: 1.7rem;background-color: #fff;}
.category_sec>.imgs{width: 100%;text-align: center;padding-top: 0.32rem;}
.category_sec>.imgs>img{width: 85%;}
.category_sec>.good_item{width: 33.3%;text-align: center;}
.category_sec>.good_item>a{display: block;margin:0.2rem 0}
.category_sec>.good_item>a>img{width: 70%;}
.category_sec>.good_item>a>p{margin-top: 0.2rem;font-size: 0.25rem;}
