<div id="sec_goodDetail">
	
	<!--商品介绍首屏-->
	<div class="sec_goodIntro_wrap">
		<!--头部-->
		<div class="sec_primary-navbar clear_f">
			<a ui-sref="goodproducts" class="sec_back sec_icon-uniE809"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
			<a href="/x6/cart/list?sfrom=http%3A%2F%2Fm.mogujie.com%2Fx6%2Fdetail%2F1k5e3k6%3Facm%3D3.mce.1_4_1k5e3k6.7626.15938.qtIkWqcH4CE53.p_3_1-lc_201-mf_11325_117578-idx_1-mfs_40%26ptp%3Dm1._mf1_1064_11325._b_42075f0ad5f058ad_wall_docs.2.cVa5W%26f%3Dbaidusem_4uv5iimn1v" class="sec_cart sec_icon-uniE810"></a>
		</div>
		<!--轮播图-->
		<div class="sec_swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="obj in rundata">
					<img src="{{obj}}">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	
	
	<!--基本信息-->
		<div class="sec_primary-info">
			<div class="sec_info-title sec_break">{{spIntro.title}}</div>
			<div class="sec_info-desc sec_break">{{spIntro.desc}}</div>
			<!-- 价格 -->
			<div class="sec_info-price sec_center sec_J_InfoPrice">
				<span class="sec_now">¥{{spIntro.highNowPrice}}</span>
				<span class="sec_market">¥{{spIntro.highPrice}}</span>
				<span class="sec_discount" style="background-color: {{spIntro.discountBgColor}}">{{spIntro.discountDesc}}</span>
				<!-- 价格后面的标志 -->
			</div>
			<div class="sec_info-other sec_center sec_info-other-notopbor">
				<span class="sec_item" ng-repeat="obj in data.columns">{{obj}}</span>
			</div>
			<!-- 商品特色 -->
			<div class="sec_info-itemtags sec_open-itemTags">
				<span class="sec_inner">
					<span class="sec_item">
						<img src="{{data.itemTags[0].icon}}">{{data.itemTags[0].name}}
					</span>
				</span> 
				<span class="sec_more"><i class="sec_arrow"></i></span>
			</div>
		</div>
		
		<!--促销信息-->
		<div class="sec_primary-promotions" id="sec_PrimaryPromotions">
			<div class="sec_mbanner-top"></div>
			<span class="sec_inner sec_pro-info">
				<span class="sec_more">更多<i class="sec_arrow"></i></span>
				<span class="sec_item"><i></i>{{data.promotions.list[0]}}</span> 
			</span>
		</div>
	
	
	<!-- 商品详情-评价列表 -->
	<div class="sec_detail-wrap sec_detail-rates" id="sec_DetailRates">
		<!-- 顶部 -->
		<div class="sec_rates-top"></div>
		<!-- 标题 -->
		<div class="sec_rates-head sec_plr30">
			<a class="sec_title" href="http://h5.mogujie.com/rate/list.html?itemId=1k5e3k6">
				累计评价 91
				<span class="sec_more">更多<i class="sec_arrow"></i></span>
			</a>
		</div>
		<!-- 列表 -->
		<div class="sec_rates-list sec_plr30">
			<div class="sec_rate-item" ng-repeat="obj in commentInfo">
				<!-- 用户信息 -->
				<div class="sec_rate-user">
					<a class="sec_user-info" href="" data-isanonymous="1"> 
						<img class="sec_avatar" src="{{obj.user.avatar}}"> 
						<span class="sec_name">{{obj.user.uname}}</span> 
					</a>
				</div>
				<!-- 评价内容 -->
				<div class="sec_rate-cont">{{obj.content}}</div>
				<!-- 属性 -->
				<div class="sec_rate-attr">
					<p> 
						<span class="sec_time">2017-01-11</span> 
						<span class="sec_sku">{{obj.style}}</span> 
					</p>
					<p> </p>
				</div>
				<!-- 图片列表 -->
				<div class="sec_rate-imgs sec_show-img">
					<a href="/x6/rate/1k5e3k6/rateList" class="sec_item" ng-repeat="obj1 in obj.images"> 
						<img src="{{obj1}}"> 
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!--店铺详情-->
	<div class="detail-wrap detail-shop" id="DetailShop">
		<!-- 顶部 -->
		<div class="shop-top"></div>
		<!-- 信息 -->
		<div class="shop-info plr30">
			<!-- 头像 -->
			<a class="info-avatar" href="http://m.mogujie.com/v8/meili/shop?shopid=1170y4zo"> <img src="http://s2.mogucdn.com/p2/161010/upload_7ke4k1a188c0ieeek6h5fb068ga22_320x320.png_100x100.jpg"> </a>
			<!-- 内容 -->
			<div class="info-content">
				<p class="title">AILAWANG店</p>
				<div class="left_star"> <b class="level" style="width:27px"></b> </div>
				<p class="count-s"> <span class="sale">总销量&nbsp;9648</span> <span class="fans" data-fans="6288">收藏数&nbsp;6288</span> </p>
			</div>
			<!-- 收藏 --><span class="info-fav" data-id="1170y4zo" data-type="1"><i></i><span>收藏</span></span>
		</div>
		<!-- 评价 -->
		<div class="shop-evaluate plr30">
			<ul class="center">
				<li> <span>描述相符</span> <em>4.64</em> <i>高</i> </li>
				<li> <span>价格合理</span> <em>4.57</em> <i>高</i> </li>
				<li> <span>质量满意</span> <em>4.61</em> <i>高</i> </li>
			</ul>
		</div>
		<!-- 服务 -->
		<div class="shop-services plr30" id="ShopServices">
			<ul class="column2">
				<li> <img src="http://s2.mogucdn.com/p2/161121/upload_804deld49f8i13gb2gdji12k6h9h2_60x60.png"> <span>退货补运费</span> </li>
				<li> <img src="http://s2.mogucdn.com/p2/161121/upload_69l7gg2aeb5jb1k0g5l785gdhk7g0_60x60.png"> <span>7天无理由退货</span> </li>
				<li> <img src="http://s2.mogucdn.com/p2/161121/upload_40a944ddkgekbdia0jalfi5jki4h2_60x60.png"> <span>劣一赔三服务</span> </li>
				<li> <img src="http://s2.mogucdn.com/p2/161121/upload_8fak1807jfee78jjh49f146g09hc5_60x60.png"> <span>48小时发货</span> </li>
				<li> <img src="http://s2.mogucdn.com/p2/161121/upload_4c9fi653lcljc0ig512il61jh3ljl_60x60.png"> <span>全国包邮</span> </li>
			</ul>
		</div>
		<!-- 入口 -->
		<div class="shop-entry plr30">
			<div class="center">
				<a href="http://m.mogujie.com/v8/meili/shopSearch?shopid=1170y4zo" class="goods">全部商品（76）</a>
				<a href="http://m.mogujie.com/v8/meili/shop?shopid=1170y4zo" class="xiaodian"><i></i><span>进入小店</span></a>
			</div>
		</div>
	</div>
	
	
	
</div>