<div id="sec_goodDetail">
	
	<!--商品介绍首屏-->
	<div class="sec_goodIntro_wrap">
		<!--头部-->
		<div class="sec_primary-navbar clear_f">
			<a ui-sref="goodproducts" class="sec_back sec_icon-uniE809"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
			<a href="/x6/cart/list?sfrom=http%3A%2F%2Fm.mogujie.com%2Fx6%2Fdetail%2F1k5e3k6%3Facm%3D3.mce.1_4_1k5e3k6.7626.15938.qtIkWqcH4CE53.p_3_1-lc_201-mf_11325_117578-idx_1-mfs_40%26ptp%3Dm1._mf1_1064_11325._b_42075f0ad5f058ad_wall_docs.2.cVa5W%26f%3Dbaidusem_4uv5iimn1v" class="sec_cart sec_icon-uniE810"></a>
		</div>
		<!--轮播图-->
		<div class="sec_swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" ng-repeat="obj in rundata">
					<img src="{{obj}}">
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	
	
	<!--基本信息-->
		<div class="sec_primary-info">
			<div class="sec_info-title sec_break">{{spIntro.title}}</div>
			<div class="sec_info-desc sec_break">{{spIntro.desc}}</div>
			<!-- 价格 -->
			<div class="sec_info-price sec_center sec_J_InfoPrice">
				<span class="sec_now">¥{{spIntro.highNowPrice}}</span>
				<span class="sec_market">¥{{spIntro.highPrice}}</span>
				<span class="sec_discount" style="background-color: {{spIntro.discountBgColor}}">{{spIntro.discountDesc}}</span>
				<!-- 价格后面的标志 -->
			</div>
			<div class="sec_info-other sec_center sec_info-other-notopbor">
				<span class="sec_item" ng-repeat="obj in data.columns">{{obj}}</span>
			</div>
			<!-- 商品特色 -->
			<div class="sec_info-itemtags sec_open-itemTags">
				<span class="sec_inner">
					<span class="sec_item">
						<img src="{{data.itemTags[0].icon}}">{{data.itemTags[0].name}}
					</span>
				</span> 
				<span class="sec_more"><i class="sec_arrow"></i></span>
			</div>
		</div>
		
		<!--促销信息-->
		<div class="sec_primary-promotions" id="sec_PrimaryPromotions">
			<div class="sec_mbanner-top"></div>
			<span class="sec_inner sec_pro-info">
				<span class="sec_more">更多<i class="sec_arrow"></i></span>
				<span class="sec_item"><i></i>{{data.promotions.list[0]}}</span> 
			</span>
		</div>
	
	
	<!-- 商品详情-评价列表 -->
	<div class="sec_detail-wrap sec_detail-rates" id="sec_DetailRates">
		<!-- 顶部 -->
		<div class="sec_rates-top"></div>
		<!-- 标题 -->
		<div class="sec_rates-head sec_plr30">
			<a class="sec_title" href="http://h5.mogujie.com/rate/list.html?itemId=1k5e3k6">
				累计评价 91
				<span class="sec_more">更多<i class="sec_arrow"></i></span>
			</a>
		</div>
		<!-- 列表 -->
		<div class="sec_rates-list sec_plr30">
			<div class="sec_rate-item" ng-repeat="obj in commentInfo">
				<!-- 用户信息 -->
				<div class="sec_rate-user">
					<a class="sec_user-info" href="" data-isanonymous="1"> 
						<img class="sec_avatar" src="{{obj.user.avatar}}"> 
						<span class="sec_name">{{obj.user.uname}}</span> 
					</a>
				</div>
				<!-- 评价内容 -->
				<div class="sec_rate-cont">{{obj.content}}</div>
				<!-- 属性 -->
				<div class="sec_rate-attr">
					<p> 
						<span class="sec_time">2017-01-11</span> 
						<span class="sec_sku">{{obj.style}}</span> 
					</p>
					<p> </p>
				</div>
				<!-- 图片列表 -->
				<div class="sec_rate-imgs sec_show-img">
					<a href="/x6/rate/1k5e3k6/rateList" class="sec_item" ng-repeat="obj1 in obj.images"> 
						<img src="{{obj1}}"> 
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<!--店铺详情-->
	<div class="sec_detail-wrap sec_detail-shop" id="sec_DetailShop">
		<!-- 顶部 -->
		<div class="sec_shop-top"></div>
		<!-- 信息 -->
		<div class="sec_shop-info sec_plr30">
			<!-- 头像 -->
			<a class="sec_info-avatar" href="{{shopDetailMsg.shopUrl}}">
				<img src="{{shopDetailMsg.shopLogo}}">
			</a>
			<!-- 内容 -->
			<div class="sec_info-content">
				<p class="sec_title">{{shopDetailMsg.name}}</p>
				<div class="sec_left_star"> <b class="sec_level"></b> </div>
				<p class="sec_count-s"> <span class="sec_sale">总销量&nbsp;{{shopDetailMsg.cSells}}</span> <span class="sec_fans">收藏数&nbsp;{{shopDetailMsg.cFans}}</span> </p>
			</div>
			<!-- 收藏 --><span class="sec_info-fav"><i></i><span>收藏</span></span>
		</div>
		<!-- 评价 -->
		<div class="sec_shop-evaluate plr30">
			<ul class="sec_center">
				<li ng-repeat="obj1 in shopDetailMsg.score"> <span>{{obj1.name}}</span> <em>{{obj1.score}}</em> <i>高</i> </li>
			</ul>
		</div>
		<!-- 服务 -->
		<div class="sec_shop-services sec_plr30" id="sec_ShopServices">
			<ul class="sec_column2">
				<li ng-repeat="obj2 in shopDetailMsg.services">
					<img src="{{obj2.icon}}">
					<span>{{obj2.name}}</span>
				</li>
			</ul>
		</div>
		<!-- 入口 -->
		<div class="sec_shop-entry sec_plr30">
			<div class="sec_center">
				<a href="{{shopDetailMsg.allGoodsUrl}}" class="sec_goods">全部商品（{{shopDetailMsg.cGoods}}）</a>
				<a href="{{shopDetailMsg.shopUrl}}" class="sec_xiaodian"><i></i><span>进入小店</span></a>
			</div>
		</div>
	</div>
	
	
	
	<!--图文详情-->
	<div class="sec_detail-wrap sec_detail-tabpanel">
			<!-- 顶部 -->
			<div class="sec_tabpanel-top"></div>
			<!-- 占位 -->
			<div class="sec_tabpanel-occupying" id="sec_TabpanelOccupying">
				<!-- 标签 -->
				<nav class="sec_tabpanel-tabs sec_center">
					<li class="sec_tab-item sec_active"> <span>图文详情</span> <i></i> </li>
					<li class="sec_tab-item"> <span>商品参数</span> <i></i> </li>
					<li class="sec_tab-item"> <span>热卖推荐</span> <i></i> </li>
				</nav>
			</div>
			<!-- 面板 -->
			<div class="sec_tabpanel-panels" id="sec_TabpanelPanels">
				<!-- 图文详情 -->
				<div class="sec_panel-item" id="sec_PanelGraphic">
					<!-- 商品详情-图文详情 -->
					<div class="sec_detail-graphic">
						<!-- 图文列表 -->
						<div class="sec_graphic-list">
							<div class="sec_desc clear_f">
								<p class="sec_start"><i></i></p>
								<p class="sec_text">{{detailInfo.desc}}</p>
								<p class="sec_end"><i></i></p>
							</div>
							<div class="sec_pics">
								<dl class="sec_pic-box" ng-repeat="obj in detailInfo.detailImage">
									<dt class="sec_pic-title">{{obj.key}}</dt>
									<dd class="sec_pic-list">
										<img lazy-src="{{obj1}}" class="sec_fadeIn" ng-repeat="obj1 in obj.list">
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				
				
				
				<!-- 商品参数 -->
				<div class="sec_panel-item" id="sec_PanelParameter">
					<!-- 商品详情-商品参数 -->
					<div class="sec_detail-parameter">
						<!-- <h2 class="title fold">产品参数</h2> -->
						<div class="sec_parameter-wrap">
							<!-- 尺码表格 -->
							<div class="sec_size-list">
								<div class="sec_item" ng-repeat="obj in tableData">
									<table>
										<tbody>
											<tr ng-repeat="obj1 in obj">
												<td ng-repeat="obj2 in obj1">{{obj2}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- 参数 -->
							<div class="sec_param-list">
								<ul>
									<li ng-repeat="obj in listData">
										<span class="sec_param-name">{{obj.key}}</span>
										<p class="sec_param-info">{{obj.value}}</p>
									</li>
								</ul>
							</div>
							<!-- 尺码图片 -->
							<!-- 尺码图片 -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--工具条,购买等-->
		<div class="sec_detail-wrap sec_detail-footbar" id="sec_DetailFootbar">
			<!-- 私聊 -->
			<div class="sec_footbar-im">
				<i class="sec_icon"></i> <span class="sec_text">私聊</span>
			</div>
			<!-- 喜欢 -->
			<div class="sec_footbar-fav" data-id="1k5e3k6" data-type="1">
				<i class="sec_icon"></i> <span class="sec_text">收藏</span> 
			</div>
			<!-- 购买 -->
			<div class="sec_footbar-buy">
				<span class="sec_buy-cart">加入购物车</span>
				<span class="sec_buy-now">立即购买</span>
			</div>
		</div>
	
		<!--蘑菇良品点击隐藏内容-->
		<div class="info-itemtags-dialog" ng-hide="flag">
			<h1 class="title">服务说明<span class="close close-itemTags"></span></h1>
			<ul class="list">
				<li>
					<dl>
						<dt>
							<img src="http://s2.mogucdn.com/p1/160331/upload_ie4dcyjqgyytcm3bg4zdambqgiyde_30x31.png">蘑菇良品
						</dt>
						<dd>蘑菇良品商品来自品质商家，购买此商品因质量问题、描述不符等原因发起维权，且维权成立，您将得到3倍赔偿。</dd>
					</dl>
				</li>
			</ul>
		</div>
		
		<div id="M_Mask" class="ui-mask" ng-hide="flag"></div>
	
	
</div>