#good_products{
	width: 100%;
	height:100%;
	background: #f1f1f1;
}

/*轮播图*/
#good_products .swiper-container{
	width: 100%;
	height: 3.58rem;
}
#good_products .swiper-container img{
	width: 100%;
	height: 100%;
}


/*限时抢购模块*/
#good_products .limited_purchase{
	margin: 0.2rem auto 0rem;
	background: #fff;
}

#good_products .limited_title .left_part .time_title .dot{
	width: 0.1rem;
    height: 0.1rem;
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    margin: 0 0.12rem 0.05rem 0.12rem;
}

#good_products .limited_purchase .limited_title{
	width: 100%;
    height: auto;
    padding: 0.3rem 0.3rem 0.2rem;
    /*position: relative;*/
   overflow: hidden;
}

/*清除浮动*/
#good_products .limited_title .left_part:before,#good_products .limited_title .left_part:after{
	content: " ";  
	display: block;  
	height: 0;  
	visibility: hidden;
}
#good_products .limited_title .left_part:after{
	clear: both;
}
#good_products .limited_title .left_part{
	zoom: 1;
}



#good_products .limited_title .left_part{
	float: left;
}
#good_products .time_title{
	float: left;
	font-size: 0.3rem;
}
#good_products .time_show{
	float: left;
	text-align: center;
	margin-left: 0.1rem;
}
#good_products .time_show .count_num{
	display: inline-block;
	line-height: 0.4rem;
	padding:0 0.06rem;
	border-radius: 0.06rem;
	background: #000;
	color: #fff;
	margin: auto 0.05rem;
	text-align: center;
}
#good_products .limited_title .more{
	float: right;
	display: inline-block;
	line-height: 1.5;
    font-size: 0.3rem;
}
#good_products .limited_title .more img {
    height: 0.22rem;
    margin-top: -0.02rem;
}
/*限时抢购商品列表*/
.good_limited_wrap{
    padding: 0.1rem 0 0.16rem 0.3rem;
}
.good_limited_contain{
	overflow-x: scroll;
	white-space: nowrap;
}
.good_limited_contain>li{
	width: 1.8rem;
    height: 2.5rem;
    margin-right: 0.2rem;
    display: inline-block;
}
.good_limited_contain>li>a>img{
	width: 1.5rem;
    overflow: hidden;
    margin: 0 0.15rem;
}

.clear_f:before,.clear_f:after{
	content: " ";  
	display: block;  
	height: 0;  
	visibility: hidden;
}
.clear_f:after{
	clear: both;
}
.clear_f{
	zoom: 1;
}
.good_intro_info{
    color: #666;
    font-size: 0.16rem;
    margin: 0.15rem 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.good_intro_price{
    font-size: 0.26rem;
    color: #F25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*蘑菇优选,居家换新模块*/
.good_introduce{
    height: 4.2rem;
    background-color: #fff;
    overflow: hidden;
}
.good_introduce .good_intro_left{
	float: left;
	width: 42.666%;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    overflow: hidden;
}
.good_introduce a{
	display: block;
	position: relative;
}
.good_introduce h3{
	position: absolute;
	left:0.28rem;
	top: 0.26rem;
    font-size: 0.32rem;
    color: #333;
    font-weight: normal;
}
.good_introduce .good_intro_left img{
	width: 100%;
	height:100%;
	display: block;
}




.good_introduce .good_intro_right{
	float: left;
	/*position: relative;*/
    width: 57.334%;
    height: 100%;
}

.good_introduce .good_intro_right img{
	width: 100%;
	height:100%;
	display: block;
}
.good_introduce .good_intro_right .part_top{
	border-bottom: 1px solid #f1f1f1;
}
/*无敌分割线*/
.good_divide_line{
	height: 0.2rem;
	width: 100%;
	/*background: pink;*/
}
/*良品推荐模块*/
.lp_goods{
	background-color: #fff;
    margin-bottom: 0.2rem!important;
    overflow: hidden;
    padding-top: 0.3rem;
}


.lp_goods>h3{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATkAAAAKAgMAAACyFsHVAAAADFBMVEVMaXEzMzMzMzP///8xqFqyAAAAAnRSTlMAtlSR24EAAAABYktHRAMRDEzyAAAAQElEQVQoz2NgoDkQIVZhAHHKMok0jnEJccpWORBnHttK4pStmkCceVJYLV6FCkg1TwtVewPt/Uvt+KB6eqEIAACpih6NjokEAgAAAABJRU5ErkJggg==) no-repeat center center;
    background-size: 41% auto;
    color: #333;
    font-size: 0.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    margin: 0 0 0.2rem;
    font-weight: normal;
}

.good_keys_list{
    width: 100%;
    padding: 0 0 0.2rem;
}
.good_keys_list>li{
    float: left;
    width: 25%;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.good_keys_list>li>a>img{
	display: block;
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 auto;
    overflow: hidden;
}
.good_keys_list>li>a>p{
    height: 0.37rem;
    line-height: 0.37rem;
    font-size: 0.26rem;
    color: #333;
    text-align: center;
    width: 90%;
    margin: 0.1rem auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/*良品精选*/
.good_detail_title{
	padding: 0.3rem 0 0rem 0;
}
.good_floor_title {
    padding: 0.3rem 0 0.2rem 0;
    text-align: center;
    line-height: 1;
}
.good_title_bg{
    font-size: 0.3rem;
    color: #333333;
    width: 3.13rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAATkAAAAKAgMAAACyFsHVAAAADFBMVEVMaXEzMzMzMzP///8xqFqyAAAAAnRSTlMAtlSR24EAAAABYktHRAMRDEzyAAAAQElEQVQoz2NgoDkQIVZhAHHKMok0jnEJccpWORBnHttK4pStmkCceVJYLV6FCkg1TwtVewPt/Uvt+KB6eqEIAACpih6NjokEAgAAAABJRU5ErkJggg==) no-repeat center center;
    background-size: 3.13rem auto;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0.08rem;
    text-align: center;
    margin-right: 0.04rem;
}







.good_detail>a {
    display: block;
    width: 47%;
    height: 5.88rem;
    margin: 2% 0 0 2%;
    background: #fff;
    border-radius: .06rem;
    overflow: hidden;
    float: left;
}
.good_detail>a>img{
	display: block;
    height: 4.62rem;
    width: 100%;
}
.goods_info>.name_box {
    margin: .18rem .18rem .14rem .1rem;
    height: .36rem;
    overflow: hidden;
}
.goods_info>.name_box>.name_tags {
    height: .36rem;
    width: 100%;
    overflow: hidden;
}
.goods_info>.name_box>.name_tags>.title_tag {
    float: left;
    height: .36rem;
    line-height: .36rem;
    padding: 0 .06rem;
    margin-left: .06rem;
    font-size: .22rem;
    background: #eff3f6;
    color: #5a6f7a;
}

.goods_info>.bot_box{
	margin: 0 .18rem;
}
.good_p_price{
	float: left;
    max-width: 45%;
    margin-top: .02rem;
    font-size: .3rem;
    font-weight: 700;
    color: #333;
    overflow: hidden;
}

.good_p_feed{
	float: right;
	max-width: 45%;
    height: .24rem;
    line-height: .24rem;
    margin-top: .11rem;
    padding-right: .3rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAuCAAAAABLtcWwAAAAAmJLR0QA/4ePzL8AAAJVSURBVEjHjZULb6JAFIX5///ggNYXRdRq3fog2tVqo61r3DWRNU3MqkmNNru6oS0qa63Oig9AEOTEyNzL/WRmOHOlyCkp1Uikqpy8RZ1KTi+x0eXUNZDE9XC4+Vq7BEREFoQsomi5A+QLpqdee8yF7AoQ8HU3uIXgBuiC3e+PwuLXeWARgngY/0Tw31mgjIwepFE6B4wQkPRICmDoDHzyqBvjOvhPR6COxHHi+vgHjgC5U+bhHZmm6AVf7sgWQHoqbv3DPpgXWWO3vio+SRqgtG+DajIsNMbkhMYNIazeD+bbigq0vQAdzTcl4iCpmY/QgLdNqD6YTEsmLiSLWQZ96gsabqoPm3hDcZDcAxI4SkDNPVBDlhrg4tlt/bMfA4o8IvTHXf3vEB7V91AA52oZEofC9sWtsojMztfPosiudtZYJpFYnqtfJpBUi7ZeWsRws3KuX6UQ3Z6+nflm3KnzbpQAbjftvVtfg+qC7FVA8JUYATL2oWJfX4HvYGTtAPURtwfi6BMz8IKUPZDCyAJ0kbcHcuhaANHagnSV9eamAXUn19bwzQKUTjb3vVr64zVA0KdpVQ9ZCxDH2B6Y4MoChGgH/y3pkAVg/Ecli8VRGKDXJmAO3jiFO7+/ODEkeMxNwF9DF+6madCbT1rfhiQmJkBzxup7HPBV394efEDsx/6Y6N44ABPE1Mv0ftN7w+KHOv4QNy2Vvd/+vV/B7NY1i8p7J+cBUn196v0U4Ml13qsImRdNXhi1Q3vujEtVn1zyqHnG6lYyyHDJ5pxYpDSTXGaghf8BQmofv0UdUUcAAAAASUVORK5CYII=) no-repeat top right;
    background-size: auto .23rem;
    font-size: .24rem;
    color: #999;
    overflow: hidden;
}





/*页脚留白*/
#bottomPlaceholder{
    height: 0.98rem;
}
