<!--头部-->
<header class="pub-header spline-bottom theme-spline">
	<a href="#/category" class="back_to"><span class="tap-action header-icon header-left header-icon-back"></span></a>
	<div class="header-content ui-ellipsis tap-action">{{detailInfo.long_name}}</div>
	<!--<span class="tap-action header-icon header-right header-icon-"></span>-->
	<div class="header-percent theme-bg finish-percent" style="width: 0px;"></div>
</header>
<!--商品详细信息-->
<div class="main scroller mod-productDetail">
	<div class="wrapper">
		<div class="block">
			<div class="mod-banner-wrap-outer">
				<div id="bannerContainer" class="mod-banner-wrap" style="background: url({{detailInfo.img}}) no-repeat center center;"></div>
			</div>
			<div class="mod-pub-product operate">
				<div class="product-title-no-short">
					<p class="product-name">{{detailInfo.long_name}}</p>
				</div>
				<div class="product-shopping">
					<span class="product-price">￥<a>{{detailInfo.partner_price}}</a></span> 
					&nbsp;&nbsp;<span class="product-marketPrice" ng-if="detailInfo.market_price != detailInfo.partner_price">￥{{detailInfo.market_price}}</span> 
				</div>
			</div>
		</div>
		
		<div class="product-properties block">
			<div class="title">商品详情</div>
			<div class="property-item"><span class="leading-word">品<span class="ui-hidden">中中</span>牌</span><span class="content-word">爱鲜蜂</span></div>
			<div class="property-item"><span class="leading-word">产品规格</span><span class="content-word">{{detailInfo.specifics}}&nbsp;</span></div>
			<div class="property-item"><span class="leading-word">产<span class="ui-hidden">中中</span>地</span><span class="content-word">四川</span></div>
		</div>
		
		<div class="block">
			<div class="detail-pull-wrap noNeed">
				<div class="detail-pull">图文详情</div>
			</div>
			<div class="detail block">
				<div id="mod-detail-html" class="detail-html">
					<p>
						<img src="http://img01.bqstatic.com/upload/description/201/612/2618/20161226183025_892929.jpg">
						<img src="http://img01.bqstatic.com/upload/description/201/612/2618/20161226183042_343916.jpg">
					</p>
				</div>
			</div>
		</div>
		
	</div>
</div>
